.contactUsRow{
    background: var(--contact-bg);
    padding: 105px 15px;
}
.sectionTitle{
    font-size: 96px;
    color: var(--secondary-black);
    font-weight: 500;
}
.contactDesc{
    color: var(--dark-greys-595959);
    font-size: 20px;
    line-height: 28px;
}
.contactFormContainer{
    box-shadow: 0px 12px 32px -8px rgba(0, 0, 0, 0.08);
    background: var(--white-color);
}
.contactFormBox{
    background: var(--white-color);
    padding: 100px 0px;
}
.contactForm{
    background: var(--greys-fafafa);
    border: 2px solid var(--light-grey-200);
    border-radius: 8px;
}
.contactTitle{
    color: var(--secondary-black);
    font-size: 20px;
    font-weight: 600;
}
.loginFormFloating{
    margin-bottom: 32px;
}
.formInput, .formTextarea{
    height: 50px;
    padding: 12px;
    border-radius: 6px;
    transition: .5s;
    border: 1px solid var(--border-color);
    background: transparent;
    position: relative;
    z-index: 2;
}
.formTextarea{
    height: 135px;
    resize: none;
}
.formInput:focus,.formInput:focus-visible, .formInput:not(:placeholder-shown), .formTextarea:focus,.formTextarea:focus-visible, .formTextarea:not(:placeholder-shown){
    border: 1px solid var(--input-border-color);
    outline: none;
}
.formInput::-webkit-input-placeholder, .formTextarea::-webkit-input-placeholder{
    color: transparent;
}
.formLabel{
    left: 12px;
    top: 12px;
    padding: 0 10px;
    background: var(--greys-fafafa);
    font-size: 15px;
    transition: .2s;
}
.required{
    color: var(--red-bg);
}
.formInput:not(:placeholder-shown)+.formLabel, .formInput:focus+.formLabel, .formTextarea:not(:placeholder-shown)+.formLabel, .formTextarea:focus+.formLabel{
    transform: translateY(-20px) translateX(0px);
    -webkit-transform: translateY(-20px) translateX(0px);
    font-size: 10px;
    color: var(--secondary-color);
    z-index: 3;
}
.fromError{
    font-size: 12px;
    color: var(--error-color);
}
.fromSubmitBtn{
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.28px;
    height: 36px;
    min-width: 124px;
    background: var(--btn-bg-color-1);
    color: var(--secondary-black);
    border: 1px solid var(--secondary-color);
    box-shadow: none;
    border-radius: 6px;
}
.fromSubmitBtn:focus{
    outline: none;
}
.contactDetails{
    padding: 70px;
}
.detailRow img{
    width: 54px;
    height: 54px;
    object-fit: contain;
}
.contactDetailTitle{
    color: var(--contact-title-color);
    font-size: 20px;
    margin-top: 20px;
}
.contactDetailDesc{
    color: var(--contactdesc-color);
    font-size: 16px;
}
.supportTitle{
    color: var(--contact-title-color);
    font-size: 30px;
}
.supportDesc{
    font-size: 15px;
    color: var(--contactdesc-color);
}
.suportButton{
    border-radius: 6px;
    padding: 0 24px;
    color: var(--white-color);
    background: var(--main-gradient-color);
    height: 45px;
    font-size: 16px;
}