.formSelect{
    height: 50px;
    border-radius: 6px;
    border: 1px solid var(--greys-d-4-d-4-d-4);
    -webkit-appearance: none;
    background-image: url(../../../../public/assets/images/downArrow.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 98%;
    padding: 0 20px;
    color: var(--dark-greys-989899);
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.28px;
}
.loginFormBox input{
    height: 50px;
    border-radius: 6px;
    border: 1px solid var(--greys-d-4-d-4-d-4);
    padding: 0 20px;
    color: var(--dark-greys-989899);
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.28px;

}