.LogoBox{
    top: 30px;
    left: 30px;
}
.LogoBox img{
    height: 65px;
    width: auto;
}
.loginName{
    color: var(--default-color);
    font-size: 32px;
}
.signLink{
    text-decoration: underline;
    font-size: 32px;
}