.add_work_exp{
    border-radius: 6px;
    background: var(--white-color);
    box-shadow: 0px 20px 36px 0px rgba(68, 68, 68, 0.08);
    max-width: 1150px;
}

.formInput, .formInput_loca, .formInput_arrow{
    height: 50px;
    border-radius: 6px;
    border: 1px solid var(--grey-d4d4d4);
    -webkit-appearance: none;
    background: var(--greys-fafafa);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 98%;
    padding: 0 12px;
    color: var(--dark-greys-989899);
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.28px;
}
.formInput_arrow{
    background-image: url(../../../../public/assets/images/downArrow.svg);
}
.formInput_loca{
    background-image: url(../../../../public/assets/images/location.svg);
}
.formTextarea {
    height: auto;
}