.page_content {
  margin-top: 12px;
}

.left_section {
  width: 241px;
  /* height: 174px; */
  flex-shrink: 0;

  border-radius: 8px;
  border: 1px solid var(--greys-d-9-d-9-d-9);
  background: var(--greys-f-8-f-8-f-8);
  .section1 {
    padding: 16px 16px 16px;
  }
}
.step_item {
  margin-bottom: 8px;
}
.hyphon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.step_name {
  color: var(--dark-greys-747474);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px; /* 175% */
  letter-spacing: -0.32px;
}
.step_name_active {
  color: var(--iris-tints-t-int-1);
}
.section2 {
  display: flex;
  /* width: 241px; */
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--iris-tints-tint-8);
  border-radius: 0 0 8px 8px;


  color: var(--Black, #2b2b2b);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px; /* 185.714% */
}
.current_step {
  color: var(--iris-tints-t-int-1, #6f71f1);
}
