.chatbox_main{
    border-radius: var(--Radius-x6, 6px);
    background: var(--white-color);
    box-shadow: 0px 12px 32px -8px rgba(0, 0, 0, 0.08);

}
.user_conversation{
    border-top: 1px solid var(--grey-d4d4d4);
    border-bottom: 1px solid var(--grey-d4d4d4);
    padding: 24px 24px 80px 24px;
}
.user_profile{
    display: flex;
    width: 100%;
    margin-top: 20px;
    gap:15px;
}
.user_img_box{
    width: 50px;
    height: 50px;
    background-color: var(--grey-border);
    border-radius: 50%;
}
.user_name p{
    color: var(--dark-greys-747474); 
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.28px;
    margin-bottom: 0px;
}
.user_name .right_text span{
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.32px;
}

.chatbox_main  span{
    color: var(--dark-greys-747474); 
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.conversation_box_me{
    margin-top: 15px;
    border-radius: 8px;
    background: var(--color-bg-2, #F0F5F7);
    padding: 23px 13px 20px 29px;
}
.conversation_box_you{
    margin-top: 15px; 
    border-radius: 8px;
    background: var( --step-line-bg);
    padding: 23px 13px 20px 29px;
}
.delete_text{
    color: var(--red-bg);
    text-decoration-line: underline;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
     text-decoration-line: underline;
}
.message_box{
    padding: 24px;
}
.message_box input{
    padding: 5px 10px;
    border:none;
}
.message_box input:focus{
    outline: none;
}
.send_btn{
padding:8px 30px;
border-radius: var(--Radius-x6, 6px);
border: 1px solid var(--secondary-color);
background: var(--btn-bg-color-1);
}