.skill_popup_box{
    border-radius: 6px;
    background: var(--main-gradient-color);
    box-shadow: 0px 20px 36px 0px rgba(68, 68, 68, 0.08);
    padding: 1px;
}
.skill_popup_box_form img{
    right: 0;
    top: -24px;
}
.skill_popup_box_form {
    border-radius: 6px;
    background: var(--white-color);
}
.skill_popup_box label {
    color: var(--secondary-black);
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.28px;
}
.formSelect, .formInput{
    height: 32px;
    border-radius: 6px;
    border: 1px solid var(--grey-d4d4d4);
    -webkit-appearance: none;
    background-image: url(../../../../public/assets/images/downArrow.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 98%;
    padding: 0 12px;
    color: var(--dark-greys-989899);
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.28px;
}

.formInput{
    background-image: url(../../../../public/assets/images/search_icon.svg);
}
.skill_popup_box_form label{
    flex-shrink: 0;
    min-width: 125px;
}