.page_conatainer {
  border-radius: 12px;
  background: var(--greys-fafafa);
  padding: 20px;
}

.title {
  color: var(--dark-greys-4-a-5568);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px; /* 175% */
  letter-spacing: -0.32px;
}
