.btn_pink ,.btn_pink:hover{
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--Radius-x6);
    border: 1px solid var(--fuschia-100,);
    background: var(--fuschia-tints-tint-6);
  
    color: var(--Smokey-Black);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px; /* 185.714% */
  }