.newsLetterContainer{
    background: var(--progress-line-bg);
    padding: 27px 15px;
}
.letterTitle{
    color: var(--secondary-black);
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.4px;
}
.loginFromBox{
    border-radius: 8px;
}
.emailInput{
    width: 100%;
    max-width: 525px;
    padding: 12px;
    font-size: 15px;
    color: var(--secondary-black);
    font-weight: 500;
    border: none;
    box-shadow: none;
    border-radius: 8px 0px 0px 8px;
}
.newsSubmitBtn{
    background: var(--default-color);
    color: var(--secondary-black);
    font-size: 16px;
    font-weight: 500;
    padding: 12px;
    width: 100%;
    max-width: 200px;
    border: none;
    box-shadow: none;
}
.newsSubmitBtn:focus, .newsSubmitBtn:active, .emailInput:focus{
    border: none;
    box-shadow: none;
    outline: none;
}
.footerContainer{
    padding: 32px 15px;
    background: var(--secondary-black);
}
.footerLabelTitle{
    color: var(--white-color);
    font-size: 20px;
    font-weight: 700;
}
.footerLink, .copyRight, .footerLink{
    color: var(--white-color);
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}
.socialLink img{
    height: 38px;
    width: 38px;
}