.jobsSearchForm {
  width: 100%;
  border: 1px solid var(--bs-border-color);
  border-radius: 6px;
  background: var(--greys-fafafa);
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 15px;
  /* max-width: 1000px; */
  margin: 0 auto;
}

.inputBlock {
  flex: 1;
}

.inputBlock + .inputBlock {
  border-left: 1px solid var(--bs-border-color);
  padding-left: 10px;
}

.inputBlock input {
  background: transparent;
  background-image: url(../../../../../public/assets/images/icons/search.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 5px;
  padding: 10px 20px 10px 40px;
  border: none;
  width: 100%;
  outline: none;
}

.inputBlock input[name='search'] {
  background-image: url(../../../../../public/assets/images/icons/search.svg);
}

.inputBlock input[name='location'] {
  background-image: url(../../../../../public/assets/images/icons/location.svg);
}

.btnWrap {
}
