.recomendTitle{
    font-size: 35px;
    line-height: 48px;
    color: var(--secondary-black);
}
.recomendBtn{
    background: var(--main-gradient-color);
    height: 45px;
    border-radius: 6px;
    font-size: 16px;
    color: #FFF;
}
.courseBuyBtn{
    border-radius: 6px;
    background: var(--gradient-l-ight-gradient);
    border: 1px solid var(--pink-border);
    height: 35px;
    padding: 0 12px;
    font-size: 14px;
    color: var(--secondary-color);
}
.courseSellBox{
    background: var(--greys-fafafa);
    border: 1px solid var(--grey-d4d4d4);
    padding: 12px;
    border-radius: 12px;
}
.courseSellBox img{
    border-radius: 6px;
}
.courseTitle{
    color: var(--secondary-black);
    font-size: 16px;
    font-weight: 500;
}
.coursedesc{
    color: var(--text-grey-dark);
    font-size: 15px;
}
.courseSubinfo{
    color: var(--text-grey-dark);
    font-size: 12px;
}