.LoginContainer {
    height: 100vh;
}

.LogoBox {
    top: 30px;
    left: 30px;
}

.LogoBox img {
    height: 65px;
    width: auto;
}

.startTitle {
    font-size: 44px;
    color: var(--secondary-black);
    font-weight: 600;
}

.startInfo {
    font-size: 16px;
    color: var(--dark-greys-595959)
}

.proceedBtn {
    height: 50px;
    padding: 0 30px;
    font-size: 16px;
    border-radius: 6px;
    background: var(--main-gradient-color);
    color: var(--white-color);
}

.signupBox {
    border-radius: 8px;
    padding: 20px;
    border: 2px solid var(--grey-d4d4d4);
    transition: .2s;
    width: 18%;
}

.signupBox:hover {
    box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, .15);
}

.signupBoxSelected {
    border-color: var(--default-color);
    box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, .15);
}

.signupLabel {
    font-size: 20px;
    color: var(--secondary-black);
    font-weight: 500;
    margin-top: 15px;
}

.selectTick {
    height: 25px;
    width: 25px;
    top: 10px;
    right: 10px;
}

.selectTick img {
    height: 25px;
    width: 25px;
    object-fit: contain;
}