.account_sett_container h5 {
    color: var(--profile-btn-text-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.4px;
}
.all_profile_edit p {
    width: 124px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid var(--iris-tints-tint-2, #8182F3);
    background: var(--iris-tints-tint-6, #C8C9FA);color: var(--Black, #2B2B2B);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.32px;
}