.footer_conatainer {
  background: var(--greys-fafafa);
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.32px;
  color: var(--secondary-black);
  padding: 24px 80px;
}

.footer_menus {
  margin-top: 20px;
}

.footer_menu_item {
  text-decoration-line: underline;
  color: var(--Black);
}

.footer_menu_gap {
  padding: 0 20px;
}